<% include ../partials/header %>

<h1 class="helvetica bold white">Your Tasklist</h1>
    <div class="form-group inputForm">
        <button class="btn btn-lg btn-primary btn-block" id="newTaskButton">New Task</button>
    </div>
    <div class='inputForm' id='newTaskForm'>
        <form action="/tasks" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="name" placeholder="Task Description">
            </div>            
            <div class="form-group">
                <input class="form-control" type="date" name="completionDate" value="<%= Date.now %>">
            </div>            
            <div class="form-group">
                <select class="form-control" name="importance">
                    <option value="1">Low</option>
                    <option value="2">Medium</option>
                    <option value="3">High</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Create Task</button>
            </div>
        </form>
    </div>
    <div>
        <h2 class="white centered helvetica bold">Your Tasks For Today:</h2>
    </div>
    <div class="white">
        <div>
            <h4 class="centered">
                Total Tasks: <%=tasks.length%>
            </h4>
        </div>
        <ul class='list'>
            <% 
            var completedTasks = 0;
            var pointsAchieved = 0;
            tasks.forEach(function(task){
            if (task.completed == true) {
                completedTasks ++;
                pointsAchieved = pointsAchieved + task.importance;
            }
            %>
                <li class='task white'>
                    <div>
                        <h5>Task: <%=task.name%></h5> 
                        <h5>Due: <%=task.completionDate%></h5> 
                        <h5>Importance: <%=task.importance%></h5> 
                        <h5>Completed: <%=task.completed%></h5>
                    </div>
                    <div class='right taskButtons'>
                        <% if (task.completed == true){ %>
                        <form id="incomplete-form" action="/tasks/<%=task._id%>/incomplete?_method=PUT" method="POST">
                            <button class='btn btn-xs btn-outline-success incomplete'>Incomplete</button>
                            </form>
                        <% } else { %>
                        <form id="complete-form" action="/tasks/<%=task._id%>/complete?_method=PUT" method="POST">
                            <button class='btn btn-xs btn-success complete'>Complete</button>
                            </form>
                            <a class='btn btn-xs btn-warning edit' href="/tasks/<%=task._id%>/edit">Edit</a>
                            <form id="delete-form" action="/tasks/<%= task._id %>?_method=DELETE" method="POST">
                                <button class='btn btn-xs btn-danger delete'>Delete</button>
                            </form>
                        <% }%>
                    </div>
                </li>
            <% }); %>
            <h5 class="centered">Tasks Completed Today: <%=completedTasks%> | Points Achieved Today: <%=pointsAchieved%></h5>
        </ul>
    </div>
    
<% include ../partials/footer %>
